body {
    margin: 0;
    background-color: lightgray;
    min-height: 100vh;
}

.navigation-link a {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
li {
    list-style: none;
}

.intial-table__table {
    background-color: white;
    font-family: Calibri, Myriad;
    font-size: 0.6em;
    overflow: scroll;
}

.intial-table {
    max-width: 100vw;
    overflow: auto;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.navigation {
    float:right;
    overflow: hidden;
}

.header__navigation::after {
    content: '';
    display: block;
    clear: both;
}

.navigatiosn__links {
    display: flex;
}

.navigation__link-container {
    margin: 10px;
}

.main__intial-table-container {
    padding: 10px;
}

.intial-table {
    border: solid 2px brown;
}

#main {
	width: 780px;
	padding: 20px;
	margin: auto;
}

.intial-table__table {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
}

.intial-table__table caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

.intial-table__table thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: 1.2em;
}

.intial-table__table th, .intial-table__table td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

.intial-table__table td {
	text-align: center;
}

.intial-table__table tbody th {
	text-align: left;
	font-weight: normal;
}

.intial-table__table tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

.intial-table__table tr.even {
	background-color: #fde9d9;
}




.processed-table__table {
    background-color: white;
    font-family: Calibri, Myriad;
    font-size: 0.6em;
    overflow: scroll;
}

.processed-table {
    max-width: 100vw;
    overflow: auto;
}

.processed-table__table {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
}

.processed-table__table caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

.processed-table__table thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: 1.2em;
}

.processed-table__table th, .processed-table__table td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

.processed-table__table td {
	text-align: center;
}

.processed-table__table tbody th {
	text-align: left;
	font-weight: normal;
}

.processed-table__table tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

.processed-table__table tr.even {
	background-color: #fde9d9;
}