body {
    margin: 0;
    background-color: lightgray;
    min-height: 100vh;
}

.main__set-mark-form-container {
    background-color: white;
    border: solid 3px black;
    border-radius: 6px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.set-mark-form__form {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.set-mark-form__form label {
    float: left;
    width: 20%;
    margin: 10px;
}

.set-mark-form__form select, .set-mark-form__form input {
    float: right;
    width: 50%;
    margin: 10px;
}

.set-mark-form__form input {
    height: 20px;
}

.set-mark-form__form div {
    overflow: auto;
}

.set-mark-form__form div::after {
    content: "";
    clear: both;
}

.set-mark-form__form button[type=submit] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.set-mark-form__form button[type=submit]:hover {
    background: #EA7B00;
    color: #fff;
    cursor: pointer;
}

.set-mark-form__header {
    text-align: center;
}

.navigation-link a {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
li {
    list-style: none;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.header__navigation {
    float:right;
}

.header__navigation::after {
    clear: both;
}

.navigatiosn__links {
    display: flex;
}

.navigation__link-container {
    margin: 10px;
}

.set-mark-form__ok-container {
    display: flex;
    justify-content: center;
}

.ok {
    width: 30%;
    padding: 10px;
    border: 3px solid darkgreen;
    background-color: greenyellow;
    text-align: center;
}

.ok__message {
    color: darkgreen;  
}

.set-mark-form__error-container {
    display: flex;
    justify-content: center;
}

.error {
    width: 60%;
    padding: 10px;
    border: 3px solid darkred;
    background-color: lightcoral;
    text-align: center;
}

.error__message {
    color: darkred;
}