<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add student</title>
        <link rel="stylesheet" href="/css/add_student_page.css">
    </head>
    <body>
        <header class="header">
            <div class="header__navigation">
                <div class="navigation">
                    <nav class="navigation__nav">
                        <ul class="navigatiosn__links">
                            <li class="navigation__link-container"><a href="/" class="myButton">To Main</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main__add-student-form-container">
                <div class="add-student-form">
                    <header class="add-student-form__header">
                        <h1>Add Student</h1>
                    </header>
                    <form id="add-student-form" class="add-student-form__form" action="/add_student" method="post">
                        <div class="add-student-form__input-name">
                            <label for="student-name">Name</label>
                            <input type="text" name="student_name" id="student-name">
                        </div>
                        {% if result == 'error' %}
                        <div class="add-student-form__error-container">
                            <div class="error">
                                <span class="error__message">{{ error }}</span>
                            </div>
                        </div>
                        {% elseif result == 'ok' %}
                        <div class="add-student-form__ok-container">
                            <div class="ok">
                                <span class="ok__message">OK</span>
                            </div>
                        </div>
                        {% endif %}
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="footer">
        </footer>
    </body>
</html>